rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /relatorios/{relatorioId}/{arquivo} {
      allow read, write: if request.auth != null;
    }
  }
}
